In [1]:
# convert as many ICD10-to-ICD9 1:many mappings as possible into 1:1 mappings
import pandas as pd
import os
cwd = os.getcwd()

In [2]:
# Read the contents of 2018_I10gem.txt
File1    = cwd + '/2018_I10gem.txt'
columns  = ['Code10','Code9','Flags'] 
ICD10To9 = pd.read_fwf(File1, names=columns, converters={0:str, 1:str, 2:str})
ICD10To9.drop('Flags', axis=1, inplace=True) # Remove the Flags column

# Read the contents of ICD9.csv and ICD10.csv
# The reason that I read TotalDiag as string is that the last row contains a big number so I cannot read it as int.
# After reading it as string I need to delete that row and convert it back to int.
ICD9  = pd.read_csv(cwd + '/ICD9.csv',converters={0:str, 0:str})
ICD9.drop(ICD9.columns[2:], axis=1,inplace=True) # Just leave the first two columns. I don't need the rest.
ICD9.drop(ICD9.tail(1).index,inplace=True) #remove the last row
ICD9["TotalDiag"]  = pd.to_numeric(ICD9["TotalDiag"]) #Convert the second column to numeric

GroupedCode = ICD10To9.sort_index().groupby('Code10').filter(lambda group: len(group) != 1) #Find Code10s that are repeated.

# Add a '.' to the Code9 after the third element to match the data in ICD9
def addpoint(code):
    return code[0:3]+'.'+code[3:]

GroupedCode['Code9'] = GroupedCode.Code9.apply(addpoint)

In [3]:
merged_df = pd.merge(GroupedCode, ICD9, right_on='ICD9CMCode', left_on='Code9')

Freq = merged_df['TotalDiag'].tolist()

In [6]:
merged_df.head(10)

  Code10   Code9 ICD9CMCode  TotalDiag
0   A021   003.1      003.1        149
1   A021  995.91     995.91     116538
2   A227  995.91     995.91     116538
3   A267  995.91     995.91     116538
4   A327  995.91     995.91     116538
5   A400  995.91     995.91     116538
6   A401  995.91     995.91     116538
7   A403  995.91     995.91     116538
8   A408  995.91     995.91     116538
9   A409  995.91     995.91     116538

In [9]:
merged_df.info

<bound method DataFrame.info of       Code10   Code9 ICD9CMCode  TotalDiag
0       A021   003.1      003.1        149
1       A021  995.91     995.91     116538
2       A227  995.91     995.91     116538
3       A267  995.91     995.91     116538
4       A327  995.91     995.91     116538
5       A400  995.91     995.91     116538
6       A401  995.91     995.91     116538
7       A403  995.91     995.91     116538
8       A408  995.91     995.91     116538
9       A409  995.91     995.91     116538
10     A4101  995.91     995.91     116538
11     A4102  995.91     995.91     116538
12      A411  995.91     995.91     116538
13      A412  995.91     995.91     116538
14      A413  995.91     995.91     116538
15      A414  995.91     995.91     116538
16     A4150  995.91     995.91     116538
17     A4151  995.91     995.91     116538
18     A4152  995.91     995.91     116538
19     A4153  995.91     995.91     116538
20     A4159  995.91     995.91     116538
21     A4181  995.91     995.91     116538
22     A4189  995.91     995.91     116538
23      A419  995.91     995.91     116538
24      A427  995.91     995.91     116538
25     A5486  995.91     995.91     116538
26      B377  995.91     995.91     116538
27      A044  008.00     008.00         73
28      A044  008.09     008.09         10
29      A048   008.2      008.2         11
...      ...     ...        ...        ...
58982  Z9662  V43.62     V43.62        191
58983  Z9663  V43.63     V43.63         21
58984  Z9663  V43.63     V43.63         21
58985  Z9663  V43.63     V43.63         21
58986  Z9664  V43.64     V43.64      43165
58987  Z9664  V43.64     V43.64      43165
58988  Z9664  V43.64     V43.64      43165
58989  Z9664  V43.64     V43.64      43165
58990  Z9665  V43.65     V43.65      54078
58991  Z9665  V43.65     V43.65      54078
58992  Z9665  V43.65     V43.65      54078
58993  Z9665  V43.65     V43.65      54078
58994  Z9666  V43.66     V43.66        241
58995  Z9666  V43.66     V43.66        241
58996  Z9666  V43.66     V43.66        241
58997  Z9669  V43.69     V43.69        156
58998  Z9669  V43.69     V43.69        156
58999  Z9669  V43.69     V43.69        156
59000  Z9669  V43.69     V43.69        156
59001   Z975  V45.51     V45.51        974
59002   Z975  V45.59     V45.59         19
59003  Z9881  V49.82     V49.82          4
59004  Z9881  V45.84     V45.84         53
59005  Z9881  V45.84     V45.84         53
59006  Z9887  V15.21     V15.21         18
59007  Z9887  V15.22     V15.22          9
59008  Z9889  V45.89     V45.89      42617
59009  Z9889  V45.89     V45.89      42617
59010  Z9989   V46.8      V46.8       1023
59011  Z9989   V46.9      V46.9         14

[59012 rows x 4 columns]>

In [20]:
merged_df.sort_values('TotalDiag', ascending=False).drop_duplicates(['Code10'])[50:100]

      Code10   Code9 ICD9CMCode  TotalDiag
15      A414  995.91     995.91     116538
16     A4150  995.91     995.91     116538
1       A021  995.91     995.91     116538
26      B377  995.91     995.91     116538
25     A5486  995.91     995.91     116538
24      A427  995.91     995.91     116538
22     A4189  995.91     995.91     116538
21     A4181  995.91     995.91     116538
20     A4159  995.91     995.91     116538
19     A4153  995.91     995.91     116538
14      A413  995.91     995.91     116538
58796  Z7989  V58.69     V58.69     108234
21992  O9961  648.91     648.91      93953
22013  O9A51  648.91     648.91      93953
21991  O9951  648.91     648.91      93953
21988  O9928  648.91     648.91      93953
21984  O2513  648.91     648.91      93953
21983  O2512  648.91     648.91      93953
21982  O2511  648.91     648.91      93953
21995  O9971  648.91     648.91      93953
21998  O9982  648.91     648.91      93953
22000  O9A11  648.91     648.91      93953
22002  O9A21  648.91     648.91      93953
22005  O9A31  648.91     648.91      93953
22008  O9A41  648.91     648.91      93953
25245  R6521  995.92     995.92      90311
25126   R001  427.89     427.89      89755
1915   F0390  294.20     294.20      89037
659    D7282  288.60     288.60      88761
9282    M159  715.90     715.90      85448
9283   M1990  715.90     715.90      85448
19658   M810  733.00     733.00      81663
25229  R4585  V62.84     V62.84      79611
5526    I120  403.91     403.91      75451
1440   E1042   357.2      357.2      74373
1436   E0842   357.2      357.2      74373
1439   E1040   357.2      357.2      74373
1441   E1140   357.2      357.2      74373
1442   E1142   357.2      357.2      74373
1443   E1340   357.2      357.2      74373
1438   E0942   357.2      357.2      74373
1444   E1342   357.2      357.2      74373
1435   E0840   357.2      357.2      74373
1437   E0940   357.2      357.2      74373
1806   E1329  250.40     250.40      71647
1805   E1322  250.40     250.40      71647
1804   E1321  250.40     250.40      71647
2659   G4090  345.90     345.90      68841
5666    I429   425.4      425.4      67700
5665    I428   425.4      425.4      67700